html, body {
  max-width: 80vw;
  margin: auto;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  align-items: center;
}

body > * {
  max-width: 80vw;
  margin: auto;
  align-items: center;
}

nav {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-button {
  margin-left: 5rem;
  margin-right: 5rem;
  text-decoration: none;
  font-weight: 500;
  color: #111;
  cursor: pointer;
}

img {
  max-width: 60vw;
  width: 100%;
  height: auto;
  display: block;
  margin: 3em auto;
}